.home {
  display: block;
  position: relative;

  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.home__title {
  display: block;
  position: relative;

  width: 100%;

  margin: 0;
  padding: 24px 12px;

  text-align: center;
}

.home__options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;

  width: 100%;
}

@media (max-width: 500px) {
  .home__options {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.home__card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;

  width: 100%;
  padding: 20px 24px;
  margin-bottom: 16px;

  color: var(--text);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3em;
  text-decoration: none;
  text-align: center;

  border-radius: 16px;
  background-color: var(--card);

  box-shadow: 0 0 2px 0 var(--button-shadow);
}

@media (max-width: 500px) {
  .home__card {
    padding: 16px 20px;
    border-radius: 4px;
    margin-bottom: 6px;
  }
}

.home__card--option {
  width: calc(50% - 8px);
}

@media (max-width: 500px) {
  .home__card--option {
    width: 100%;
  }
}

.home__options .home__card:only-child {
  margin-left: auto;
  margin-right: auto;
}

.home__card:hover,
.home__card:active {
  transition: box-shadow 0.2s ease-in-out 0s;
  box-shadow: 0 1px 2px 1px var(--button-shadow);
}

.home__card .material-icons {
  margin-right: 8px;
}

.home__card .octicon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  vertical-align: -6px;

  color: inherit;
  fill: currentColor;
}
