.link-card {
  display: block;
  position: relative;

  width: 100%;
  padding: 16px 20px;
  margin-top: 32px;

  color: var(--text);
  font-size: 16px;

  border-radius: 8px;
  background-color: var(--card);

  box-shadow: 0 0 2px 0 var(--button-shadow);
}

@media (max-width: 800px) {
  .link-card {
    border-radius: 4px;
    padding: 12px;
  }
}

.link-card__title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;

  width: 100%;
  padding: 16px;
  margin-bottom: 16px;
}

.link-card__link {
  display: block;
  position: relative;

  font-size: 42px;
  line-height: 1em;
}

.link-card__copy {
  display: block;
  position: relative;

  width: 56px;
  height: 56px;

  padding: 12px;
  margin-left: 20px;

  border-radius: 28px;
  color: var(--text);
}

.link-card__copy .material-icons {
  font-size: 32px;
}

.link-card__image {
  display: block;
  position: relative;

  width: 100%;
  max-width: 400px;

  margin: 0 auto 16px;
}

.link-card__to {
  display: block;
  position: relative;

  padding: 8px;

  font-size: 12px;
  line-height: 16px;
  word-break: break-word;
  line-break: normal;
  text-align: center;
}

.link-card__to--underline {
  text-decoration: underline;
}
